.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: #282c34;
}

.page {
    flex-grow: 1;
    width: 95%;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 30px 1fr 4fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
	"header header"
	"query query"
	"source tree"
	"output output";
    grid-gap: 10px;
}

.header {
    grid-area: header;
}

.query {
    grid-area: query;
}

.source {
    grid-area: source;
}

.tree {
    grid-area: tree;
}

.output {
    grid-area: output;
}

.borderBox {
    border: thin solid grey;
    border-radius: 5px;
}

.textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: none;
    color: white;
    border: none;
}
